<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
  body{
    width:  500px;
  }
  .list-group.aa {
  position: absolute;
  left: auto;
 
} 

.card.bb {
  position: absolute;
  left: 150px;
  width: 250px;
  height: 440px;
  margin-left: 250px;
 
} 
  </style>
</head>
<body>

  <div class="container">

     <ul class="list-group aa">
       <li class="list-group-item active">In this project I used:</li>
       <li class="list-group-item">JavaScript</li>
       <li class="list-group-item">HTML & CSS</li>
       <li class="list-group-item">Bootsrap & JQuery</li>
       <li class="list-group-item">Ajax</li>
       <li class="list-group-item">Modules</li>
       <li class="list-group-item">routes.js</li>
       <li class="list-group-item">Objects</li>
       <li class="list-group-item">Arrays methods & Functions</li>
     </ul>
  
  
    
    <div class="card bb" style="display: flex;">
      <img class="card-img-top" src="component\about\WhatsApp Image 2020-08-10 at 19.09.09.jpeg" alt="Card image" style="position: relative;">
      <div class="card-body" style="width: 207px;">
        <h4 class="card-title" >Eldor Ziv</h4>
        <p class="card-text">Full stack developer(John Btyce)</p>
       
          
        </div>
    </div>
  
    <br>
  </div>
</body>

