<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js" defer></script> -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>


<div id="maint">
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
defer></script>
